.containerCounter {
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0px 0px 10px 1px #30b0c47e;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.containerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerButtons button {
    font-size: 18px;
    padding: 7px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 20%;
    font-weight: bold;
    background-color: #8a4af3;
    color: white;
}

.containerButtons p {
    font-size: 17px;
    font-weight: bold;
}

.containerAdd {
    padding: 15px;
  border: 2px solid ;
  background-color: white;
  cursor: pointer;
  font-weight: 500;

  &:hover{
      background-color: #b886d9;
  }
}


