* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

.count {
    background-color: rgb(155, 139, 163);
    max-width: 10%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}


.add-cart button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding: 10px 0px;
    cursor: pointer;
}
